.Header {
    height: 1000px;
    color: black;
}

.name{
    font-size: 3.2em;
    font-weight: 100;
    text-align: left;
    position: relative;
    padding-top: 22%;
    font-family: 'Raleway', sans-serif;
}

.motto {
    font-size: 1.0em;
    text-align: left;
    padding-top: 1%;
    padding-left: 4%;
    font-family: 'Raleway', sans-serif;
}