.projects {
    margin-bottom: 40%;
}


.myProjects {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 100;
}

.project {
    display: inline-block;
    height: 450px;
    width: 23%;
    margin: 8% 1% 3% 7%;
}

.img {
    height: 100%;
    width: 100%;
}

.projectLink {
    border: 2px solid black;
    margin: 0 auto;
    width: 19%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 2%;
    font-weight: 100;
    font-size: 25px;
}

.projectLink:hover {
    background-color: #252525;
    color: white;
}

.link {
    text-decoration: none;
    color: inherit;
}

.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_slidedown {
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.hvrbox:hover .hvrbox-layer_slidedown,
.hvrbox.active .hvrbox-layer_slidedown {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
